* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.box {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background: red;
}

@media screen and (min-width: 320px) and (max-width) {
    .box {
        width: 288px;
        height: 288px;
    }
}

@media screen and (min-width: 479px) and (max-width: 719px) {
    .box {
        width: 459px;
        height: 459px;
    }
}

@media screen and (min-width: 720px) and (max-width: 959px) {
    .box {
        width: 688px;
        height: 688px;
    }
}

@media screen and (min-width: 960px) and (max-width: 1023px) {
    .box {
        width: 928px;
        height: 928px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
    .box {
        width: 1248px;
        height: 1248px;

    }
}



/*
320px - (>479px) iPhone SE
480px - 719px
720px - 959px
960px - 1023px
1024px - 1279px
1280px - 1439px
1440px - 1599px
1600px - 1919px
1920px - 2559px
2560px >

*/