* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

.header {
    height: 80px;
    background: #D4D5D4;
    color: #FFFEFE;
    font-weight: lighter;
}

.header__h1 {
    font-weight: lighter;
    padding: 20px;
    text-align: center left;
}

aside {
    font-size: larger;
    position: relative;
    left: 0;
    top: 50px;
}

.list__caption {
    font-size: 25px;
    font-weight: lighter;
}

.list__element {
    padding-top: 10px;
}

.border {
    position: fixed;
    left: 380px;
    top: 125px;
    width: 5px;
    height: 400px;
    background: #D4D5D4;
}

main {
    position: absolute;
    right: 5px;
    top: 115px;
    left: 450px;
}

.block__heading {
    padding: 10px;
    height: 50px;
    right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #FFFEFE;
    background: #D4D5D4;
    position: sticky;
    top: 0;
}

.block__street-name {
    padding-left: 10px;
}

.list {
    list-style: none;
}

.block__heading > .block__heading_undecorated-link {
    color: #FFFEFE;
    text-decoration: none;
}

.list__element > .list__element-link {
    color: #D4D5D4;
    text-decoration: none;
}