* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

body {
    min-width: 720px;
}

.header {
    width: 100vw;
    height: calc(200 / 2560 * 100vw);
    background: #D4D5D4;
    color: #FFFEFE;
    font-weight: lighter;
}

.header__h1 {
    font-size: calc(90 / 2560 * 100vw);
    font-weight: lighter;
    padding: 20px;
    text-align: left;
}

aside {
    font-size: calc(70 / 2560 * 100vw);
    position: relative;
    left: 0;
    top: calc(70 / 2560 * 100vw);
}

.list__caption {
    font-size: calc(70 / 2560 * 100vw);
    font-weight: lighter;
}

.list__element {
    padding-top: 10px;
}

.border {
    position: fixed;
    left: 35%;
    top: 15%;
    width: 0.7%;
    height: 30%;
    background: #D4D5D4;
}

main {
    position: absolute;
    right: 1vw;
    top: 10vw;
    left: 40vw;
    font-size: calc(50 / 2560 * 100vw);
}

.block__heading {
    padding: 10px;
    padding-bottom: 25px;
    height: 5vw;
    right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #FFFEFE;
    background: #D4D5D4;
    position: sticky;
    top: 0;
}

.block__street-name {
    padding-left: 10px;
}

.list {
    list-style: none;
}

.block__heading > .block__heading_undecorated-link {
    color: #FFFEFE;
    text-decoration: none;
}

.list__element > .list__element-link {
    color: #D4D5D4;
    text-decoration: none;
}