* {
    font-family: sans-serif;
    margin: 0;
}


.header {
    width: 100vw;
    height: calc(200 / 2560 * 100vw);
    background: #D4D5D4;
    color: #FFFEFE;
    font-weight: lighter;
}

.content {
    display: flex;
}

.header__h1 {
    font-size: calc(150 / 2560 * 100vw);
    font-weight: lighter;
    padding-left: 30px;
}

aside {
    font-size: calc(70 / 2560 * 100vw);
    position: relative;
    left: 0;
    top: 2vw;
}

.list__caption {
    font-size: calc(70 / 2560 * 100vw);
    font-weight: lighter;
}

.border {
    position: fixed;
    left: 35%;
    top: 15%;
    width: 0.7%;
    height: 30%;
    background: #D4D5D4;
}

main {
    position: absolute;
    right: 1vw;
    top: 10vw;
    left: 40vw;
    font-size: calc(50 / 2560 * 100vw);
}

.block__heading {
    padding: 10px;
    right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #FFFEFE;
    background: #D4D5D4;
    position: sticky;
    top: 0;
}

.block__street-name {
    padding-left: 10px;
}

.list {
    list-style: none;
    padding-bottom: 2vw;
}

.block__heading > .block__heading_undecorated-link {
    color: #FFFEFE;
    text-decoration: none;
}

.list__element > .list__element-link {
    color: #D4D5D4;
    text-decoration: none;
}

@media screen and (max-width: 719px) {

    * {
        font-size: 24px;
        width: 100vw;
    }

    .header {
        height: calc(124 / 719 * 100vw);
    }

    .header__h1 {
        font-size: calc(54 / 719 * 100vw);
        text-align: center;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
    }

    aside {
        text-align: center;
    }

    .list {
        padding-inline-start: 0;
    }

    .list__caption {
        font-size: 24px;
    }

    .list > li {
        display: inline;
    }

    main {
        position: static;
    }

    .border {
        display: none;
    }

    .block__heading {
        padding-left: 20px;
    }

}