* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container {
    background-color: #777;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 400px;
    margin: 10px auto;
}

button {
    padding: 0 10px;
    margin: 10px auto;
    display: block;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    padding: 20px;
    border-radius: 20px;
    width: 450px;
    margin: 20px auto;
}