* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgba(0, 0, 255, 0.201);
}

.form {
    font-family: 'Roboto', sans-serif;
    background: white;
    position: relative;
    top: 15vw;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

p {
    text-align: center;
}

.form__input, .form__button {
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
}

.form__checkbox {
    margin-top: 5px;
    position: relative;
    display: flex;
    align-items: center;
}

.form__checkbox > input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.form__checkbox_box {
    width: 16px;
    height: 16px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 8px;
}

.form__checkbox > input:checked + .form__checkbox_box {
    background: black;
}